/* There are the codes for the footer styles */
.travel {
  background-color: #a62c21;
  padding: 20px;
}

.travel > input {
  display:block;
  height: 30px;
  width: 200px;
  background:lightgrey;
  color: black;
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}

.travel > #submit {
  width: 110px;
  height: 40px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}

section#travel-planer {
  background-color: lightgray;

}

#travel-planer > #title {
  background-color: #A62C21;
  font-size: 15px
}

#travel-planer > #results {
  display: flex;
  flex-direction: column;
  background-color: white;
}