/* There are the code for general styles */
* {
    box-sizing: border-box;
}

body{
    background: lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
}


h1{
    font-size: 25px;
}



